<a href="https://colab.research.google.com/github/RennanRnz/RennanRnz/blob/main/MOD4_EXaulaS01e02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [16]:
import pandas as pd
import numpy as np

# Criando listas com os dados.
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalias = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

# Criando um dicionário com os dados.
dados = {'ano': anos, 'anomalia_termica': anomalias}

# Criando a Série do Pandas.
serie_anomalias = pd.Series(data=dados['anomalia_termica'], index=dados['ano'])

print(serie_anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [17]:
# Criando a Série do Pandas com os anos como índice.
serie_anomalias = pd.Series(data=dados['anomalia_termica'], index=anos)

print(serie_anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [18]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# Criando a Série do Pandas diretamente a partir do dicionário.
serie_temperaturas = pd.Series(dic_temperaturas)

print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe.
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [19]:
arr = np.random.normal(100, 10, (20,3))

# Convertendo o array para um DataFrame.
df = pd.DataFrame(arr)

# Visualizando o DataFrame.
print(df)

             0           1           2
0   105.927861  118.239318  119.996932
1   104.009308  111.289115  109.137741
2    90.878811   99.676847  105.608484
3    89.255497  112.531493  115.181465
4    92.549114  105.365219  103.979425
5    97.054988  101.459724   96.284141
6    87.936163   92.305423  102.442151
7    98.135350  114.535966  115.590939
8   100.449422  105.446927  100.761685
9   109.118937  107.428247  109.363391
10   96.641678  107.412758   82.043938
11   94.815754   91.781831   94.676033
12   96.941283  113.664209  104.096693
13  111.582925   81.444600   98.486894
14   83.830335  102.474771  108.943242
15   95.478326  107.429103   85.760742
16   91.946518   98.163965   91.722760
17  107.773076  103.168163   93.680728
18  109.703689   93.811163   98.126409
19   78.555004   98.816381   90.221240

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [20]:
# Criando um DataFrame com índices e colunas personalizados.
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'], index=range(1, 21))

print(df)

            x1          x2          x3
1   105.927861  118.239318  119.996932
2   104.009308  111.289115  109.137741
3    90.878811   99.676847  105.608484
4    89.255497  112.531493  115.181465
5    92.549114  105.365219  103.979425
6    97.054988  101.459724   96.284141
7    87.936163   92.305423  102.442151
8    98.135350  114.535966  115.590939
9   100.449422  105.446927  100.761685
10  109.118937  107.428247  109.363391
11   96.641678  107.412758   82.043938
12   94.815754   91.781831   94.676033
13   96.941283  113.664209  104.096693
14  111.582925   81.444600   98.486894
15   83.830335  102.474771  108.943242
16   95.478326  107.429103   85.760742
17   91.946518   98.163965   91.722760
18  107.773076  103.168163   93.680728
19  109.703689   93.811163   98.126409
20   78.555004   98.816381   90.221240

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [21]:
# Calculando a média por linha e adicionando como nova coluna.
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)

print(df)

            x1          x2          x3       media
1   105.927861  118.239318  119.996932  114.721370
2   104.009308  111.289115  109.137741  108.145388
3    90.878811   99.676847  105.608484   98.721381
4    89.255497  112.531493  115.181465  105.656152
5    92.549114  105.365219  103.979425  100.631253
6    97.054988  101.459724   96.284141   98.266284
7    87.936163   92.305423  102.442151   94.227912
8    98.135350  114.535966  115.590939  109.420752
9   100.449422  105.446927  100.761685  102.219345
10  109.118937  107.428247  109.363391  108.636858
11   96.641678  107.412758   82.043938   95.366124
12   94.815754   91.781831   94.676033   93.757872
13   96.941283  113.664209  104.096693  104.900728
14  111.582925   81.444600   98.486894   97.171473
15   83.830335  102.474771  108.943242   98.416116
16   95.478326  107.429103   85.760742   96.222724
17   91.946518   98.163965   91.722760   93.944414
18  107.773076  103.168163   93.680728  101.540656
19  109.703689   93.811163   98.126409  100.547087
20   78.555004   98.816381   90.221240   89.197542

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [22]:
# Calculando o 'log_med' e adicionando como nova coluna.
df['log_med'] = np.log(df['media'])

print(df)

            x1          x2          x3       media   log_med
1   105.927861  118.239318  119.996932  114.721370  4.742506
2   104.009308  111.289115  109.137741  108.145388  4.683477
3    90.878811   99.676847  105.608484   98.721381  4.592302
4    89.255497  112.531493  115.181465  105.656152  4.660190
5    92.549114  105.365219  103.979425  100.631253  4.611463
6    97.054988  101.459724   96.284141   98.266284  4.587681
7    87.936163   92.305423  102.442151   94.227912  4.545716
8    98.135350  114.535966  115.590939  109.420752  4.695201
9   100.449422  105.446927  100.761685  102.219345  4.627121
10  109.118937  107.428247  109.363391  108.636858  4.688011
11   96.641678  107.412758   82.043938   95.366124  4.557723
12   94.815754   91.781831   94.676033   93.757872  4.540716
13   96.941283  113.664209  104.096693  104.900728  4.653014
14  111.582925   81.444600   98.486894   97.171473  4.576477
15   83.830335  102.474771  108.943242   98.416116  4.589205
16   95.478326  107.429103   85.760742   96.222724  4.566666
17   91.946518   98.163965   91.722760   93.944414  4.542703
18  107.773076  103.168163   93.680728  101.540656  4.620459
19  109.703689   93.811163   98.126409  100.547087  4.610626
20   78.555004   98.816381   90.221240   89.197542  4.490853

-----------------------------------------------------------------------------------